################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projekt/obj
/Projekt/bin
/obj
/bin
/DemoSolution/obj/Debug/netcoreapp2.2
/DemoSolution/obj
/DemoSolution/bin/Debug/netcoreapp2.2
