@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Warsztat</h1>
</div>
<h3>O projekcie</h3>
<p>Projekt aplikacji webowej słóżąca do wyświetlania, dodawania, edytowania i usuwania poszczególnych elementów z tabel tworzonych przez program.</p>
<p>Aplikacja symuluje bazę danych warsztatu samochodowego służąca do przechowywania danych na temat klientów oraz ich samochodów</p>
