@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Warsztat</h1>
</div>
<h3>O projekcie</h3>
<p>Projekt aplikacji webowej słóżąca do wyświetlania tabel tworzonych przez program.</p>
<p>W dalszej części projektu mam zamiar dodać możliwość dodawania, usuwania i edycji danych z tabeli.</p>
